<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/job1.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome To Job</h1>
            <p>Updates are always in priorities</p>
            <a class="btn btn-primary" href="hyd/">Hyderabad Jobs</a>&nbsp;
            <a class="btn btn-primary" href="bng/">Bangalore Jobs</a>&nbsp;
            <a class="btn btn-primary" href="pun/">Pune Jobs</a>&nbsp;

        </div>
    </div>

</body>
</html>